
.menu {
  text-align: right;
  background-color: rgb(0, 0, 0);
  padding-right: 20px
}

.menu a {
  color: #c4c1c1;
  text-decoration: none;
  transition: color 0.3s;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

.menu a:hover {
  color: rgba(255, 145, 77, 1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }

  img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .header {
    width: 100%;
    height: calc(100vw * 984 / 2659); /* Altura proporcional à largura da página com base na proporção da imagem */
    background-image: url("../img/capa.png");
    background-size: cover; /* Ajuste para cobrir toda a largura da página */
    background-position: center;
    background-repeat: no-repeat; /* Evita a repetição horizontal */
    position: relative;
    overflow: hidden; /* Evita que a altura ultrapasse o viewport */
  }

  @media only screen and (max-width: 768px) {
    .header {
      background-image: url("../img/capa_mobile.png");
    }
  }

  .header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Intro Rust', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 0;
  }

  .content {
    padding: 20px;
    color: #000;
  }

  .black-box {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .input-container {
    margin-bottom: 20px;
  }

  input[type="file"],
  input[type="text"],
  select {
    width: calc(50%); /* Largura reduzida para caber aproximadamente 30 caracteres */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
  }

  input[type="file"] {
    background-color: #fff;
  }

  input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .book-style {
    font-family: Georgia, serif;
    margin-left: 40px;
    font-style: italic;
    position: relative;
  }

  .typing-cursor::after {
    content: "|";
    animation: blink-caret 0.75s infinite alternate; /* Animação do cursor */
    position: static;
    bottom: 0;
    font-size: 1.5rem; /* Tamanho do cursor */
  }

  @keyframes blink-caret {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  /* box dos formulários e das respostas */
  .form-box {
    background-color: rgba(255, 145, 77, 1);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: left; /* Alinhamento à esquerda */
  }

  /* Estilo dos inputs e botões dentro do box */
  .input-container input[type="file"],
  .input-container input[type="text"],
  .input-container select,
  .input-container input[type="submit"] {
    width: 7cm;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
    overflow-x: auto;
  }

  /* Estilizando botão "Descobrir" */
  .input-container input[type="submit"] {
    width: auto;
    font-weight: bold;
    margin-left: 10px;
  }

  .box-image {
  text-align: center;
  position: relative;
}

.box-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.form-box p.explanation {
  font-weight: bold;
  font-size: 1.2rem;
  color: #030303;
}

.form-box .guide {
  font-style: italic; /* Itálico */
  font-size: 0.8rem; /* Tamanho menor */
  color: #eae8e8; /* Cor cinza claro */
  margin-top: 1px; /* Espaço superior */
  margin-bottom: 1px;
}

footer {
  background-color: #000;
  color: #ccc;
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
}

footer a {
  color: #c15e2e;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #90361b;
}

footer strong {
  font-weight: bold;
}

.footer-content {
  width: 80%;
  margin: 0 auto;
}

.back-link {
  display: inline-block; /* Para que o link ocupe apenas o espaço necessário */
  margin-bottom: 10px;
  text-decoration: none; /* Remover sublinhado padrão do link */
  color: #333;
  font-size: 14px;
}
  
.back-link:hover {
  text-decoration: underline; /* Sublinhar o link ao passar o mouse */
}

h2.h2.result {
  text-transform: uppercase; /* Transforma o texto em caixa alta */
}