<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gota a Gota: usando a IA para prospectar petróleo em produtos</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>

</head>
<body>

    <div class="menu">
        {% include 'menu.html' %}
    </div>
    <br>
    <br>
    <div class="container">
        <!-- Box de resultado -->
        <div class="form-box">
            <div class="input-container">
                <a href="/" class="back-link">&#8592; Voltar para a página inicial</a>
                <h2 hidden>Gota a Gota</h2>
                <h3 hidden>Onde está o petróleo?</h3>
            </div>

            <div class="box-image">
                <img src="static/img/logo_gota_a_gota.png" alt="Gota a Gota: ferramenta de IA que prospecta petróleo em produtos" />
            </div>

            <p>Este projeto surgiu a partir de um desejo: <strong>ampliar a discussão sobre a necessidade de se reduzir o uso do petróleo para além dos combustíveis.</strong> A ideia era construir uma ferramenta de impacto educativo para que as pessoas pudessem refletir sobre produtos que as cercam.</p>

            <p>Um protótipo de buscador de substâncias de petróleo em produtos foi criado com três tipos de inputs:</p>
            <ul>
            <li>A análise de imagens de rótulos e etiquetas de roupas;</li>
            <li>A análise de textos (listas de ingredientes, por exemplo);</li>
            <li>E a disponibilização da lista de substâncias, para consulta, que usamos como parte da análise dos dois outros inputs.</li>
            </ul>

            <p>A aplicação foi criada como trabalho final da primeira metade o Marter em Jornalismo de Dados, Automação e Data Storytelling do Insper.</p>

            <p>Usei Python, Flask, HTML, CSS, Google Sheets e o ChatGPT (para imagem e texto) para desenvolver o projeto.</p>

            <blockquote>
            <p><strong>IMPORTANTE:</strong> Apesar de ter contado com a ajuda de um PhD em química para acompanhar a precisão das informações fornecidas pela ferramenta nesta primeira fase de desenvolvimento, ela não deve ser usada com objetivos científicos.</p>
            </blockquote>

            <p>Cabe ressaltar, no entanto, que há potencial para o desenvolvimento de uma aplicação que utilize informação cientificamente embasada para análise dos inputs extraídos com a ajuda de Inteligência Artificial.</p>

            <p>Expliquei o passo a passo do desenvolvimento e outros detalhes no repositório do projeto no <a href="https://github.com/SumaiaVillela/petroleo_MJD">GitHub</a>.</p>

            <h2>Falta de dados sobre o tema aponta para oportunidades</h2>

            <p>Quando o projeto foi pensado, o primeiro passo planejado era coletar de forma automatizada os nomes de substâncias derivadas do petróleo e suas descrições em sites ou bases de dados abertas. Essa se mostrou a maior dificuldade.</p>
            
            <p>A lista inicial precisou ser construída manualmente e, após a reunião dos termos, contou com a ajuda do ChatGPT para síntese de explicações e organização das informações, tudo revisado por uma jornalista e um químico.</p>
            
            <p>Ao que parece, não há uma sistematização dessas substâncias com o recorte desejado, somente das "famílias" delas, como naftas, que não são os mesmos termos encontrados em rótulos. Essa limitação, que não permitiu a robustez que foi inicialmente planejada, também expôs uma oportunidade: criar esse banco de dados por meio e ao longo de uma segunda etapa do projeto.</p>
                
            <p>É possível atuar em conjunto com especialistas da área para a construção de uma lista cientificamente referenciada, com links para comprovação das informações, que possa vir a ser uma referência de pesquisa. Outra possível funcionalidade é criar um grande banco de dados com nomes de produtos ou até mesmo itens genéricos (bola de futebol, lente de contato), que possa expor concretamente se geralmente possui derivado de petróleo.</p>
            
            <p>O objetivo é conquistar financiamento para manter o projeto no ar de forma sustentável (há custos, como o pagamento da API do ChatGPT e um servidor robusto); concretizar o potencial da ferramenta e remunerar especialista e desenvolvedor da ferramenta.</p>

            <p><em>Se quiser apoiar esse projeto, entre em contato: dadosparasumaia@gmail.com</em></p>

            <h2>Monitoramento do conteúdo</h2>

            <p>Como já citado, o projeto contou com a observação voluntária do professor do Departamento de Química Inorgânica da Universidade Federal Fluminense (UFF), <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do;jsessionid=D33923E61978548D3A75BDE03999A811.buscatextual_0">Thiago de Melo Lima</a>. A escolha se deu pela pesquisa que desenvolve: <a href="https://www.uff.br/?q=noticias/06-06-2023/pesquisa-da-uff-desenvolve-fontes-de-energia-alternativas-ao-petroleo">desenvolve fontes de energia alternativas ao petróleo</a>, utilizando plantas que são um "problema" em grandes centros urbanos.</p>
            
            <p>Primeiro, discutimos quais os parâmetros mais seguros para o prompt do ChaGPT, dada a necessidade de não usar respostas absolutas (muitas substâncias, por exemplo, possuem versão orgânica e sintética) e tornar a resposta de IA mais precisa. O professor também revisou a lista de substâncias adotadas como verificador primário.</p>
            
            <p>Depois, outra planilha eletrônica foi adicionada ao processo. Desta vez, para armazenar as respostas dadas pelo GPT após o envio de input de texto (oriundo de imagem ou não) para o modelo. Assim, era possível verificar como a IA estava reagindo a diferentes prompts. Ambos revisamos esse conteúdo para aperfeiçoamento da ferramenta.</p>

        </div>
    </div>
</body>
</html>